langchain
ipykernel
python-dotenv
langchain-community
pypdf
beautifulsoup4
arxiv
PyMuPDF
langchain-text-splitters
lxml
langchain-openai
langchain-ollama
langchain-huggingface
huggingface_hub
langchain-groq
langchain-chroma
faiss-cpu
fastapi
uvicorn
langserve[client]
langserve[server]
streamlit
session_info
datasets
evaluate
yt_dlp
openai-whisper
matplotlib
pytubefix
tiktoken
pathlib

